.logInButton{
    color: var(--buttontextcolor); 
    background-color: var(--buttoncolor);

    font-size: 1.2em;
    font-weight: bold;
    
    padding: 10px; 
    margin-top: 0.5em;

    border: 1px solid black;
    box-shadow: 1px 2px black;

    cursor: pointer;
    font-family:'Courier New', Courier, monospace; 

    width: 50%; 
}

.headline   {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

.userName   {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

.passWord   {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

input {
    font-family:'Courier New', Courier, monospace; 
    width: 50%; 
    padding: 5px; 
}