
.nav-desktop{
    width: 100%; 
    display: grid; 
    grid-template-columns: 2em 1fr 3fr 1fr 2em;
    /*grid-template-columns: repeat(4, 1fr);  Gör fyra kolumner av samma storlek*/
    justify-content: center;
    align-items: center;
    background-color: var(--navcolor);
    padding: 0.5em; 
    margin-bottom: 30px;
}

.nav-desktop-list {
    display: flex; 
    justify-self: center;
    grid-column: 4; /* Startar i fjärde kolumnen */
    list-style: none; /* Tar bort punkterna från listan */
    padding: 0;
    margin: 0; 
    gap:1em /* Gör mellanrum mellan listobjekten*/
}

.nav-desktop-link{
    text-align: center;
    padding: 0.5rem; 
}

.nav-desktop-link:hover {
    background-color: var(--backgroundcolor);
    transition: 0.5s; 
    font-weight: 700;
    font-size: large;
    opacity: 0.7;
    border-radius: 10%;
}

.nav-desktop-logo {
    grid-column: 2; 
    font-size: 1em;
    margin: 0.2rem 0; 
    padding: 0.2rem 0;
}