.nav-desktop{
    width: 100%; 
    display: grid; 
    grid-template-columns: 2em 1fr 3fr 1fr 2em;
    /*grid-template-columns: repeat(4, 1fr);  Gör fyra kolumner av samma storlek*/
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    padding: 0.5em;

}

.nav-desktop-list {
    display: flex; 
    justify-self: center;
    grid-column: 4; /* Startar i fjärde kolumnen */
    list-style: none; /* Tar bort punkterna från listan */
    padding: 0;
    margin: 0; 
    gap:1em /* Gör mellanrum mellan listobjekten*/
}

.nav-desktop-logo {
    grid-column: 2; 
    font-size: 1em;
    margin: 0.2rem 0; 
    padding: 0.2rem 0;
    /*border-bottom: 1px solid #ccc; Om vi vill ha border-bottom*/
}


