/* Styling som gäller allt */
:root{
    background-color: var(--backgroundcolor);
    color: black; 
    font-family:'Courier New', Courier, monospace; 

    --navcolor: #f2f2f2;
    --containercolor: #f2f2f2;
    --buttoncolor: #013328; 
    --buttontextcolor: #f2f2f2;
    --backgroundcolor:  #013328;
}

/* Styr att alla element börjar på margin 0 som grund */
body{
    margin: 0; 
}

/* Styling för rutan på alla sidor */
.container {
    width: 50%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--containercolor);
    text-align: center;
    padding: 0.5em;
    border: 4px solid black;
    box-shadow: 0px 0px 20px 5px black; 
}

